<html ng-app="Coffees">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <style>
body{
  width: 760px; /* how wide to make your web page */
  background-color: teal; /* what color to make the background */
  margin: 0 auto;
  padding: 0;
  font:12px/16px Verdana, sans-serif; /* default font */
}
div#main{
  background-color: #FFF;
  margin: 0;
  padding: 10px;
}
  </style>
</head>
<body ng-controller="CoffeeList">
  <div id="main">
<a href=""><--back</a>
<br/>
Search:<input ng-model="query"/>
  <table border=1>
      <tr>
        <td>id</td>
        <td>brand</td>
        <td>name</td>
        <td>country</td>
        <td>reviews</td>
      </tr>
      <tr ng-repeat="coffee in coffees | filter:query |orderBy:'name'">
        <td>{{coffee.id}}</td>
        <td>{{coffee.brand}}</td>
        <td>{{coffee.name}}</td>
        <td>{{coffee.country}}</td>
        <td><a href="reviews{{coffee.id}}.html">reviews</a></td>
      </tr>

  </table>
  </div>
</body>
</html>