<html ng-app="Reviews">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <style>
body{
  width: 760px; /* how wide to make your web page */
  background-color: teal; /* what color to make the background */
  margin: 0 auto;
  padding: 0;
  font:12px/16px Verdana, sans-serif; /* default font */
}
div#main{
  background-color: #FFF;
  margin: 0;
  padding: 10px;
}
  </style>
</head>
<body ng-controller="ReviewList">
  <div id="main">
<a href="index.html"><--back</a>
<br/>
Search:<input ng-model="query"/>
  <table border=1>
      <tr>
        <td>reviewer</td>
        <td>comment</td>
        <td>rating</td>
      </tr>
      <tr ng-repeat="review in coffees[2].reviews | filter:query">
        <td>{{review.reviewer}}</td>
        <td>{{review.comment}}</td>
        <td>{{review.rating}}</td>
      </tr>

  </table>
  </div>
</body>
</html>